.JSONEntrySidebarContent {
    width: 320px;
    padding: 24px;
}

.JSONEntrySidebarContent .input-container {
    width: 100%;
}

.JSONEntrySidebarContent label {
    font-weight: 500;
    font-size: 16px;
    color: #6E777C;
}

.JSONEntrySidebarContent textarea {
    margin-bottom: 24px;
    margin-top: 12px;
    font-family: 'Roboto Mono';
    padding: 8px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;

    outline: 0;
}

.JSONEntrySidebarContent h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;
}


.SubmitJSONButton, .ResetJSONButton, .ClearJSONButton, .DownloadJSONButton{
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 12px;
    color: #1E4159;

    background-color: white;
    box-shadow: none;
    border: 1px solid #DCE4E9;
    border-radius: 100px;
    min-height: 35px;
    min-width: 60px;

    transition-duration: 0.4s;
    outline: 0;
}

div .JSONWarningText {
    float:right;
    margin-top: 10px;
    margin-left: 20px;
    color: maroon;
}

.SubmitJSONButton:hover, .ResetJSONButton:hover, .ClearJSONButton:hover, .DownloadJSONButton:hover{
       background-color: rgb(184, 184, 184)
}