.LinkSidebarContent {
    width: 320px;
    padding: 24px;
}

.LinkSidebarContent h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;
}

.LinkSidebarContent .input-container {
    margin-bottom: 16px;
}
.LinkSidebarContent .input-container input {
    vertical-align: top;
}
.LinkSidebarContent .input-container label {
    font-weight: 500;
    font-size: 16px;
    color: #6E777C;
    display: block;
    margin-bottom: 12px;
}

.LinkSidebarContent .checkbox-label {
    font-family: 'Roboto Mono';
    font-size: 14px;
    margin-left: 4px;
    display: inline-block;
    width: 90%;
}

.LinkSidebarContent .checkbox-label .description {
    font-weight: 300;
    color: #7A848B;
    margin-top: 4px;
}


.DeleteLinkButton{
    float: left;
    margin-left: 16px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 12px;
    color: #1E4159;

    background-color: white;
    box-shadow: none;
    border: 1px solid #DCE4E9;
    border-radius: 100px;
    padding-left: 13px;
    padding-right: 16px;
    min-height: 35px;
    min-width: 120px;

    transition-duration: 0.4s;
    outline: 0;
}
.DeleteLinkButton:hover{
    background-color: rgb(178, 34, 34);
    color: white;
}
