.LogsSidebarContent {
    width: 500px;
    padding: 24px;
    background-color: #01121E;
    height: 100%;
    font-family: 'Roboto Mono';
    color: white;
    font-size: 12px;
}

.LogsSidebarContent .LogLine {
    margin-bottom: 8px;
    font-weight: 600;
}
