.Station {
    background-color: rgba(234, 243, 250, 0.7);
    height: 95%;
    width: 95%;
    border: 2px solid white;
    margin: 0 auto;
    margin-top: 3px;

    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #B4C1CA;
}

.Station .title {
    color: #1E4159;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Station .infoBox {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px #ACB7CA;
    border-radius: 3px;
    margin-left: 16px;
    margin-right: 16px;    

    color: #1E4159;
    font-size: 12px;
    font-weight: 500;

    padding-left: 10px;
    padding-right: 10px;
    padding-top:8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.slider{
    margin-top: 10px;
    padding: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.HelpButton{
    border-radius: 50%;
    border: 1px solid #DCE4E9;
    float: right;
    width: 32px;
    height: 32px;
    font-size:19px;
    transition-duration: 0.4s;
}

.HelpButton:hover {
    background-color: rgb(114, 114, 114);
}

.AcuityColorsBox{
    position: fixed;
    bottom: 50px;
}