.NodeSidebarContent {
    width: 320px;
    padding: 24px;
}

.NodeSidebarContent .input-container {
    width: 100%;
}

.NodeSidebarContent label {
    font-weight: 500;
    font-size: 16px;
    color: #6E777C;
}

.NodeSidebarContent input[type='text'] {
    margin-bottom: 24px;
    margin-top: 12px;
    font-family: 'Roboto Mono';
    padding: 8px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.NodeSidebarContent select {
    margin-bottom: 24px;
    margin-top: 12px;
    font-family: 'Roboto Mono';
    padding: 8px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}

.NodeSidebarContent h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 24px;
}

.SaveNodebutton:hover{
    background-color: rgb(184, 184, 184)
}

.SaveNodebutton svg{
    height : 16px;
    width: 16px;
    
}

.SaveNodebutton{
    float: right;
    margin-right: 16px;
    vertical-align: middle;
    color: white;
    font-weight: 700;
    font-size: 12px;
    color: #1E4159;

    background: white;
    box-shadow: none;
    border: 1px solid #DCE4E9;
    border-radius: 100px;
    padding-left: 13px;
    padding-right: 16px;

    transition-duration: 0.4s;
    outline: 0;
}
