.Patient {
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 2px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}